h1, ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
    margin: 20px;

}
h2{
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 10px;
    text-align: center;
}
header{
    background: #fff;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}
a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
h1{
    color: #fff;
    text-align: center;
}